USE [master]
GO
/****** Object:  Database [dbSFacturacion]    Script Date: 20/11/2018 7:27:28 p. m. ******/
CREATE DATABASE [dbSFacturacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSFacturacion', FILENAME = N'E:\Instalados\SQL Server 2016\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbSFacturacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbSFacturacion_log', FILENAME = N'E:\Instalados\SQL Server 2016\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbSFacturacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbSFacturacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbSFacturacion]
GO
USE [dbSFacturacion]
GO
/****** Object:  Table [dbo].[tblCategoria]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_tblCategoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCliente]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Ncf] [int] NULL,
	[Direccion] [varchar](500) NULL,
	[Telefono] [varchar](50) NULL,
 CONSTRAINT [PK_tblCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDetalleVenta]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetalleVenta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[DescripcionVenta] [varchar](max) NULL,
	[TipoFactura] [varchar](100) NULL,
 CONSTRAINT [PK_tblDetalleVenta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProducto]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Stock] [int] NOT NULL,
	[PrecioCompra] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[FechaCreado] [datetime] NOT NULL,
	[Imagen] [image] NULL,
 CONSTRAINT [PK_tblProducto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUsuario]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Ncf] [int] NULL,
	[Direccion] [varchar](500) NULL,
	[Telefono] [varchar](50) NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varbinary](8000) NULL,
	[Tipo] [varchar](100) NULL,
	[Logged] [int] NULL,
 CONSTRAINT [PK_tblUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblVenta]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVenta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[FechaVenta] [date] NOT NULL,
	[NumeroDocumento] [varchar](50) NULL,
 CONSTRAINT [PK_tblVenta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblCategoria] ON 

INSERT [dbo].[tblCategoria] ([Id], [Descripcion]) VALUES (1, N'Prendas nuevas')
INSERT [dbo].[tblCategoria] ([Id], [Descripcion]) VALUES (4, N'Articulos de limpieza')
INSERT [dbo].[tblCategoria] ([Id], [Descripcion]) VALUES (5, N'Insumos de Computacion')
SET IDENTITY_INSERT [dbo].[tblCategoria] OFF
SET IDENTITY_INSERT [dbo].[tblCliente] ON 

INSERT [dbo].[tblCliente] ([Id], [Nombre], [Apellido], [Ncf], [Direccion], [Telefono]) VALUES (1, N'Marin', N'Cornejo', 2344552, N'Las heras', N'45454545')
INSERT [dbo].[tblCliente] ([Id], [Nombre], [Apellido], [Ncf], [Direccion], [Telefono]) VALUES (6, N'ariel', N'bermejo', 45454, N'cobo', N'454545454')
INSERT [dbo].[tblCliente] ([Id], [Nombre], [Apellido], [Ncf], [Direccion], [Telefono]) VALUES (8, N'Jose ', N'conseko', 123454, N'segunda av', N'156456465')
SET IDENTITY_INSERT [dbo].[tblCliente] OFF
SET IDENTITY_INSERT [dbo].[tblDetalleVenta] ON 

INSERT [dbo].[tblDetalleVenta] ([Id], [VentaId], [ProductoId], [Cantidad], [PrecioUnitario], [DescripcionVenta], [TipoFactura]) VALUES (3, 2, 4, 1, CAST(1000.00 AS Decimal(18, 2)), NULL, N'Consumo')
INSERT [dbo].[tblDetalleVenta] ([Id], [VentaId], [ProductoId], [Cantidad], [PrecioUnitario], [DescripcionVenta], [TipoFactura]) VALUES (12, 2, 7, 1, CAST(48.00 AS Decimal(18, 2)), NULL, N'Consumo')
INSERT [dbo].[tblDetalleVenta] ([Id], [VentaId], [ProductoId], [Cantidad], [PrecioUnitario], [DescripcionVenta], [TipoFactura]) VALUES (13, 2, 7, 2, CAST(48.00 AS Decimal(18, 2)), NULL, N'Consumo')
SET IDENTITY_INSERT [dbo].[tblDetalleVenta] OFF
SET IDENTITY_INSERT [dbo].[tblProducto] ON 

SET IDENTITY_INSERT [dbo].[tblProducto] OFF
SET IDENTITY_INSERT [dbo].[tblUsuario] ON 

INSERT [dbo].[tblUsuario] ([Id], [Nombre], [Apellido], [Ncf], [Direccion], [Telefono], [Usuario], [Password], [Tipo], [Logged]) VALUES (4, N'Luis David', N'Betances Mosquea', 458767, N'Manzana 16, #54 Los Corales del Almirante', N'829-937-7000', N'ldbm', 0x01000000D8687ACBA60805FD64B8D6F1A22C48CF09A0A61BED0E95AE, N'Admin', 0)
INSERT [dbo].[tblUsuario] ([Id], [Nombre], [Apellido], [Ncf], [Direccion], [Telefono], [Usuario], [Password], [Tipo], [Logged]) VALUES (6, N'William', N'Liz', 564875, N'Franconia', N'5454156', N'Wliz', 0x0100000075DA5C5B6204A578B3A1590F45C754CC1EAB8190C341E9E3, N'Admin', 1)
INSERT [dbo].[tblUsuario] ([Id], [Nombre], [Apellido], [Ncf], [Direccion], [Telefono], [Usuario], [Password], [Tipo], [Logged]) VALUES (7, N'Pepito', N'Jimenez', 465465, N'Nose', N'465456', N'Pepito', 0x0100000040F2F6642833234EBB09E8D44026B97E5EA5D55B6C579475, N'Empleado', 0)
SET IDENTITY_INSERT [dbo].[tblUsuario] OFF
SET IDENTITY_INSERT [dbo].[tblVenta] ON 

INSERT [dbo].[tblVenta] ([Id], [ClienteId], [FechaVenta], [NumeroDocumento]) VALUES (2, 1, CAST(N'2014-02-10' AS Date), N'1-0004')
INSERT [dbo].[tblVenta] ([Id], [ClienteId], [FechaVenta], [NumeroDocumento]) VALUES (5, 8, CAST(N'2014-02-10' AS Date), N'123-01')
INSERT [dbo].[tblVenta] ([Id], [ClienteId], [FechaVenta], [NumeroDocumento]) VALUES (6, 6, CAST(N'2014-02-10' AS Date), N'1-0003')
SET IDENTITY_INSERT [dbo].[tblVenta] OFF
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_tblDetalleVenta_tblProducto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[tblProducto] ([Id])
GO
ALTER TABLE [dbo].[tblDetalleVenta] CHECK CONSTRAINT [FK_tblDetalleVenta_tblProducto]
GO
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_tblDetalleVenta_tblVenta] FOREIGN KEY([VentaId])
REFERENCES [dbo].[tblVenta] ([Id])
GO
ALTER TABLE [dbo].[tblDetalleVenta] CHECK CONSTRAINT [FK_tblDetalleVenta_tblVenta]
GO
ALTER TABLE [dbo].[tblProducto]  WITH CHECK ADD  CONSTRAINT [FK_tblProducto_tblCategoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[tblCategoria] ([Id])
GO
ALTER TABLE [dbo].[tblProducto] CHECK CONSTRAINT [FK_tblProducto_tblCategoria]
GO
ALTER TABLE [dbo].[tblVenta]  WITH CHECK ADD  CONSTRAINT [FK_tblVenta_tblCliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[tblCliente] ([Id])
GO
ALTER TABLE [dbo].[tblVenta] CHECK CONSTRAINT [FK_tblVenta_tblCliente]
GO
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD  CONSTRAINT [check_TipoFactura] CHECK  (([TipoFactura]='Consumo' OR [TipoFactura]='Crédito Fiscal'))
GO
ALTER TABLE [dbo].[tblDetalleVenta] CHECK CONSTRAINT [check_TipoFactura]
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCategoria_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Data_FCategoria_Actualizar] 
(
@Id int,
@Descripcion varchar(300)

)
AS

Update tblCategoria set Descripcion=@Descripcion where Id=@Id

Select @@ROWCOUNT as cantidad

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCategoria_Eliminar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Data_FCategoria_Eliminar] 
	@Id int
AS
BEGIN
	delete from tblCategoria where Id=@Id
	
	select @@ROWCOUNT as CantidadAfectada
	
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCategoria_GetAll]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[usp_Data_FCategoria_GetAll]
	
AS
BEGIN
	select Id,Descripcion from tblCategoria
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCategoria_Insertar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Data_FCategoria_Insertar] 
(
@Descripcion varchar(300)

)
AS

insert into tblCategoria (Descripcion) values (@Descripcion)

Select @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCliente_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FCliente_Actualizar] 
(
@Id int,
@Nombre varchar(50)	 ,
@Apellido varchar(50),
@Ncf int,
@Domicilio varchar(500) ,
@Telefono varchar(50)

)
AS

Update tblCliente set Nombre=@Nombre,Direccion=@Domicilio,Apellido=@Apellido,Ncf=@Ncf,Telefono=@Telefono where Id=@Id

Select @@ROWCOUNT as cantidad
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCliente_Eliminar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FCliente_Eliminar] 
	@Id int
AS
BEGIN
	delete from tblCliente where Id=@Id
	
	select @@ROWCOUNT as CantidadAfectada
	
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCliente_GetAll]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FCliente_GetAll]
	
AS
BEGIN
	select Id,Nombre,Apellido,Telefono,Ncf,Direccion as Domicilio from tblCliente
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FCliente_Insertar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FCliente_Insertar] 
(
@Nombre varchar(50)	 ,
@Apellido varchar(50),
@Ncf int,
@Domicilio varchar(500) ,
@Telefono varchar(50)

)
AS

insert into tblCliente (Nombre,Apellido,Ncf,Telefono,Direccion)
values (@Nombre,@Apellido,@Ncf,@Telefono,@Domicilio)

Select @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FDetalleVenta_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FDetalleVenta_Actualizar]
@Id int,
	@VentaId int, 
	@ProductoId int, 
	@Cantidad decimal (18,2), 
	@PrecioUnitario decimal(18,2)
AS
BEGIN

 update tblDetalleVenta set VentaId=@VentaId, ProductoId=@ProductoId, Cantidad=@Cantidad, PrecioUnitario=@PrecioUnitario
where Id=@Id
	
	select @@ROWCOUNT as CantidadAfectada
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FDetalleVenta_AumentarStock]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FDetalleVenta_AumentarStock] 
	@ProductoId int,
	@Cantidad decimal(18,2)
AS
BEGIN
	update tblProducto set Stock=Stock+@Cantidad where Id=@ProductoId
	
	select @@ROWCOUNT as CantidadAfectada
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FDetalleVenta_DisminuirStock]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FDetalleVenta_DisminuirStock] 
	@ProductoId int,
	@Cantidad decimal(18,2)
AS
BEGIN
	update tblProducto set Stock=Stock-@Cantidad where Id=@ProductoId
	select @@ROWCOUNT as CantidadAfectada
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FDetalleVenta_Eliminar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FDetalleVenta_Eliminar]
@Id int
AS
BEGIN

 delete from tblDetalleVenta where Id=@Id
 select @@ROWCOUNT as CantidadAfectada	

END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FDetalleVenta_GetAll]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FDetalleVenta_GetAll] 
@VentaId int	
AS
BEGIN
	SELECT      dbo.tblDetalleVenta.ProductoId, dbo.tblDetalleVenta.Id, dbo.tblDetalleVenta.VentaId, 
                      dbo.tblProducto.Nombre, dbo.tblDetalleVenta.Cantidad, dbo.tblDetalleVenta.DescripcionVenta, dbo.tblProducto.PrecioVenta,dbo.tblDetalleVenta.PrecioUnitario
FROM         dbo.tblDetalleVenta INNER JOIN
                      dbo.tblProducto ON dbo.tblDetalleVenta.ProductoId = dbo.tblProducto.Id
              
      where  tblDetalleVenta.VentaId=@VentaId                     
                      
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FDetalleVenta_Insertar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FDetalleVenta_Insertar]
	@VentaId int, 
	@ProductoId int, 
	@Cantidad decimal (18,2), 
	@PrecioUnitario decimal(18,2),
	@DescripcionVenta varchar(max)
AS
BEGIN
	insert into tblDetalleVenta
	(VentaId, ProductoId, Cantidad, PrecioUnitario, DescripcionVenta)
	values
	(@VentaId, @ProductoId, @Cantidad, @PrecioUnitario, ('---COMENTARIO---' + CHAR(13) + CHAR(10) + @DescripcionVenta))
	
	select @@IDENTITY as VentaDetalleId
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FLogin_ValidarLogin]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FLogin_ValidarLogin]
	@Usuario varchar(100),
	@Password varchar(100)
AS
BEGIN
	select	Id,Nombre,Apellido,Ncf,Direccion,Telefono,Usuario,
			CONVERT(VARCHAR(MAX), DECRYPTBYPASSPHRASE('password', Password)) as Password,Tipo
		 from	tblUsuario 
		 where	Usuario=@Usuario and 
				CONVERT(VARCHAR(MAX), DECRYPTBYPASSPHRASE('password', Password))=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FProducto_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FProducto_Actualizar]
    @Id int,
	@CategoriaId int, 
	@Nombre varchar(200), 
	@Descripcion varchar(1000), 
	@Stock decimal(18,2), 
	@PrecioCompra decimal(18,2), 
	@PrecioVenta  decimal(18,2), 
	@FechaVencimiento DateTime, 
	@Imagen image
AS
BEGIN
	 
	 update tblProducto set CategoriaId=@CategoriaId, Nombre=@Nombre, Descripcion=@Descripcion, 
	 Stock=@Stock, PrecioCompra=@PrecioCompra, PrecioVenta=@PrecioVenta, FechaVencimiento=@FechaVencimiento, 
	 Imagen=@Imagen
	 where Id=@Id
	 
	 select @@ROWCOUNT as CantidadAfectada
	 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FProducto_Eliminar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Data_FProducto_Eliminar]
    @Id int
	
AS
BEGIN
	 
	delete from tblProducto where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FProducto_GetAll]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FProducto_GetAll]
	
AS
BEGIN
	   SELECT     dbo.tblProducto.Id, dbo.tblProducto.CategoriaId, dbo.tblProducto.Nombre, dbo.tblProducto.Descripcion, dbo.tblCategoria.Descripcion AS CategoriaDescripcion, dbo.tblProducto.Stock, 
                      dbo.tblProducto.PrecioCompra, dbo.tblProducto.PrecioVenta, dbo.tblProducto.FechaVencimiento, dbo.tblProducto.Imagen
FROM         dbo.tblCategoria INNER JOIN
                      dbo.tblProducto ON dbo.tblCategoria.Id = dbo.tblProducto.CategoriaId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FProducto_Insertar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Data_FProducto_Insertar]
	@CategoriaId int, 
	@Nombre varchar(200), 
	@Descripcion varchar(1000), 
	@Stock decimal(18,2), 
	@PrecioCompra decimal(18,2), 
	@PrecioVenta  decimal(18,2), 
	@FechaVencimiento DateTime, 
	@Imagen image
AS
BEGIN
	  insert into tblProducto (CategoriaId, Nombre, Descripcion, Stock, PrecioCompra, PrecioVenta, FechaVencimiento, FechaCreado, Imagen)
	  values (@CategoriaId, @Nombre, @Descripcion, @Stock, @PrecioCompra, @PrecioVenta, @FechaVencimiento,GETDATE() , @Imagen)
	  
	  select @@IDENTITY as ProductoId
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_Actualizar] 
(
@Id int,
@Nombre varchar(50)	 ,
@Apellido varchar(50),
@Ncf int,
@Direccion varchar(500) ,
@Telefono varchar(50),
@Usuario varchar(50),
@Password varchar(MAX),
@Tipo varchar(100)
)
AS

Update tblUsuario set Nombre=@Nombre,Apellido=@Apellido,Ncf=@Ncf,
		Direccion=@Direccion,Telefono=@Telefono,Usuario=@Usuario,
		Password=ENCRYPTBYPASSPHRASE('password', @Password),Tipo=@Tipo
	where Id=@Id

Select @@ROWCOUNT as cantidad
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_Eliminar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Data_FUsuario_Eliminar]

(
@Id int 
) 
as
delete from tblUsuario where Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_GetAll]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_GetAll]
	
AS
BEGIN
	select Id,Nombre,Apellido,Ncf,Direccion,Telefono,Usuario,CONVERT(VARCHAR(MAX), DECRYPTBYPASSPHRASE('password', Password)) as Password,Tipo from tblUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_Insertar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_Insertar] 
(
@Nombre varchar(50)	 ,
@Apellido varchar(50),
@Ncf int,
@Direccion varchar(500) ,
@Telefono varchar(50),
@Usuario varchar(50),
@Password varchar(MAX),
@Tipo varchar(100)
)
AS

insert into tblUsuario (Nombre,Apellido,Ncf,Direccion,Telefono,Usuario,Password,Tipo)
values (@Nombre,@Apellido,@Ncf,@Direccion,@Telefono,@Usuario,ENCRYPTBYPASSPHRASE('password', @Password),@Tipo)

Select @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_Logged]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_Logged]
	
AS
BEGIN
	select Id,Nombre,Apellido,Ncf,Direccion,Telefono,Usuario,CONVERT(VARCHAR(MAX), DECRYPTBYPASSPHRASE('password', Password)) as Contraseña,Tipo 
	from tblUsuario
	where Logged = 1
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_Logged_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_Logged_Actualizar]
    @Usuario varchar(50),
	@Password varchar(MAX),
	@Logged int
AS
BEGIN	 
	 update tblUsuario set Logged=@Logged
	 where	Usuario=@Usuario and 
				CONVERT(VARCHAR(MAX), DECRYPTBYPASSPHRASE('password', Password))=@Password
END

Select @@ROWCOUNT as cantidad
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_VerificarDNI]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_VerificarDNI]

(
@Dni int 
) 
as
select * from tblUsuario where Dni=@Dni
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FUsuario_VerificarNCF]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FUsuario_VerificarNCF]

(
@Ncf int 
) 
as
select * from tblUsuario where Ncf=@Ncf
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FVenta_Actualizar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FVenta_Actualizar]
    @Id int,
	@ClienteId int, 
	@FechaVenta DateTime, 
	@NumeroDocumento varchar(50)
AS
BEGIN
	
	Update tblVenta set ClienteId=@ClienteId, FechaVenta=@FechaVenta,
	 NumeroDocumento=@NumeroDocumento
	 Where id=@Id
	
	Select @@RowCount as CantidadAfectada
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FVenta_GetAll]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FVenta_GetAll]
	
AS
BEGIN

SELECT     dbo.tblVenta.Id, dbo.tblVenta.ClienteId, dbo.tblVenta.FechaVenta, dbo.tblVenta.NumeroDocumento, dbo.tblCliente.Nombre, 
                      dbo.tblCliente.Apellido
FROM         dbo.tblCliente INNER JOIN
                      dbo.tblVenta ON dbo.tblCliente.Id = dbo.tblVenta.ClienteId
	 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Data_FVenta_Insertar]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Data_FVenta_Insertar]
	@ClienteId int, 
	@FechaVenta DateTime, 
	@NumeroDocumento varchar(50)
AS
BEGIN
	
	insert into tblVenta
	(ClienteId, FechaVenta, NumeroDocumento)
	values
	(@ClienteId, @FechaVenta, @NumeroDocumento)
	
	Select @@IDENTITY as VentaId
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reportes_GenrerarReporteVenta]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Reportes_GenrerarReporteVenta]
	@VentaId int
AS
BEGIN
	SELECT        dbo.tblDetalleVenta.VentaId, dbo.tblDetalleVenta.Cantidad, dbo.tblDetalleVenta.PrecioUnitario, dbo.tblVenta.FechaVenta, dbo.tblVenta.NumeroDocumento, dbo.tblCliente.Nombre, 
                         dbo.tblCliente.Apellido, dbo.tblCliente.Ncf, dbo.tblProducto.Nombre AS ProductoNombre, (dbo.tblProducto.Descripcion + CHAR(13) + CHAR(10) + dbo.tblDetalleVenta.DescripcionVenta) as ProductoDescripcion,
                         (dbo.tblDetalleVenta.Cantidad * dbo.tblDetalleVenta.PrecioUnitario) as TotalParcial 
FROM            dbo.tblDetalleVenta INNER JOIN
                         dbo.tblVenta ON dbo.tblDetalleVenta.VentaId = dbo.tblVenta.Id INNER JOIN
                         dbo.tblCliente ON dbo.tblVenta.ClienteId = dbo.tblCliente.Id INNER JOIN
                         dbo.tblProducto ON dbo.tblDetalleVenta.ProductoId = dbo.tblProducto.Id
		where tblVenta.Id = @VentaId                           
END
GO
/****** Object:  Trigger [dbo].[usp_FDetalleVenta_Data_AumentarStock]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[usp_FDetalleVenta_Data_AumentarStock]
ON [dbo].[tblDetalleVenta] AFTER DELETE
AS
SET NOCOUNT ON
UPDATE [dbo].[tblProducto] 
SET [dbo].[tblProducto].[Stock] = [dbo].[tblProducto].[Stock] + deleted.Cantidad from deleted
INNER JOIN tblProducto ON deleted.ProductoId = tblProducto.Id 


GO
ALTER TABLE [dbo].[tblDetalleVenta] ENABLE TRIGGER [usp_FDetalleVenta_Data_AumentarStock]
GO
/****** Object:  Trigger [dbo].[usp_FDetalleVenta_Data_DisminuirStock]    Script Date: 20/11/2018 7:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[usp_FDetalleVenta_Data_DisminuirStock]
ON [dbo].[tblDetalleVenta] AFTER INSERT
AS
SET NOCOUNT ON
UPDATE [dbo].[tblProducto] 
SET [dbo].[tblProducto].[Stock] = [dbo].[tblProducto].[Stock] - inserted.Cantidad from inserted
INNER JOIN tblProducto ON inserted.ProductoId = tblProducto.Id 
GO
ALTER TABLE [dbo].[tblDetalleVenta] ENABLE TRIGGER [usp_FDetalleVenta_Data_DisminuirStock]
GO
USE [master]
GO
